@media (max-width: 767px  ) {
  .socialMedia {
     list-style-type: none;
    text-align: right;
    position: fixed;
    right: 20px;
    top: 35%;
    z-index: 9;
    margin: 0;
    padding: 0;
    width: 30px;
  }
  .socialMedia li {
    padding: 12px;
    display: inline-block;
  }
  .bannerText {
    margin-top: 55px;
    margin-bottom: 75px;
    width: 320px;
  }
  .navbar-light .navbar-toggler{
    color: #fff;
    border: 1px solid #ccc;
  }
  .mt-67{
    margin-top: 30px;
  }
  .sectionHeading h1{
    font-size: 32px;
  }
  .main-heading h1{
    font-size: 32px;
    line-height: 32px;
  }
  .navbar-brand img{
    /* width: 175px; */
  }
  .imageWrap{
    min-height: 180px;
  }
  .specificationWrap{
    margin: 80px 0px 40px 0px;
  }
  .tab-pane{
    padding: 15px;
  }
  .prodDetailName{
    font-size: 38px;
  }
  .specificationWrap{
    font-size: 13px;
  }
  .specificationWrap .nav-item{
    margin-left: 0px;
    margin-right: 0px;
  }
  .specificationWrap .nav-link{
    font-size: 13px;
  }
  .mobCenter{
    text-align: center;
  }
  .mobCenterSocial{
    text-align: center;
  }
  .footWrap .botLink a{
    padding: 5px 0px;
  }
.colRepeat {
  display: inline-block;
  margin: 15px auto;
  }
.table-responsive {
    overflow-x: auto;
  }
  .color-section{
    background: none;
  }
.alterColor{
  background-color: rgba(198,198,198,0.2);
}
.visible-xs{
  display: block;
}
.hide-xs{
  display: none;
}
.navbar-mobile .navbar-toggler {
  color: rgba(255,255,255,1);
  border-color: rgba(255,255,255,1);
}
.navbar-mobile .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.mobile-space{
  padding-top: 10px;
}
.txtDesc{
  margin: 1rem 0;
}
.btnCart{
  margin-top: 20px;
}
}