@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Lato', sans-serif;
}

.headerSection {
    background: url(../images/headerBg.png) no-repeat top center;
    position: relative;
    background-size: cover;
}

.overlayWraper {
    background: rgba(0, 0, 0, 0.78);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 20px;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #c0312c;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #c0312c;
}

.bannerText {
    margin-top: 114px;
    margin-bottom: 150px;
    width: 320px;
}

.bannerText h1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 111.69%;
    color: #FFFFFF;
}

.bannerText p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.headerSection .navbar {
    padding: 45px 0px 0px 0px;
}

.headerSection .navbar-brand {
    margin-left: -10px;
}

.searchWrap .form-control {
    border-radius: 90px;
    background: rgba(0, 0, 0, 0.78);
    border: 0px;
    height: 74px;
    padding: .375rem 1.75rem;
}

.searchWrap .btn {
    border-radius: 90px;
    background: rgba(0, 0, 0, 0.78);
    border: 0px;
    height: 74px;
    padding: 7px;
}

.socialMedia {
    list-style-type: none;
    text-align: right;
    position: fixed;
    right: 20px;
    top: 251px;
}

.socialMedia li {
    padding: 12px;
}

.bottomSpace {
    height: 114px;
}

.bottomSpaceInner {
    height: 68px;
}

.form-control:focus {
    box-shadow: none;
}

.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
    box-shadow: none;
}

.bodySection {
    background: #13131b;
}

.sectionHeading {
    text-align: center;
    padding-top: 84px;
    padding-bottom: 64px;
    color: #fff;
}

.sectionHeading h1 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 131.69%;
    display: inline-block;
    padding-left: 20px;
    background: url("../images/headingBG.svg") no-repeat center left;
}

.sectionHeading p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 143.69%;
    color: #FFFFFF;
}

.productBox .card {
    background: #070513;
    box-shadow: 37.7474px 63.3704px 150.989px rgba(27, 49, 66, 0.1);
    border-radius: 7.9213px;
    min-height: 225px;
}

.productBox .card-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23.7639px;
    line-height: 131.69%;
    color: #FFFFFF;
    padding: 1.25rem;
    padding-bottom: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.productBox .card-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11.0898px;
    line-height: 143.69%;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 50px;
}

.testimonialWraper {
    padding: 84px 0px 140px 0px;
}

.testimonialWraper .sectionHeading {
    padding-top: 0px;
}

.testimonialBox .mediaWrap {
    background: #1D1D2B;
    border-radius: 25.9696px;
    padding: 34px;
    color: #fff;
}

.testimonialBox h5 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25.9696px;
    line-height: 35px;
    color: #FFFFFF;
}

.testimonialBox .mediaText {
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21.6414px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.47);
}

.mt-30 {
    margin-top: 30px;
}

.mt-67 {
    margin-top: 67px;
}

.footerSection {
    background: #090909;
}

.footWrap {
    padding: 67px 0px;
}

.footWrap h5 {
    color: #fff;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20px;
}

.footWrap img {
    margin-left: -7px;
}

.footWrap .botLink {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

.footWrap .botLink a {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.3px;
    color: #A3A5AD;
    padding: 15px 0px;
    display: inline-block;
}

.copyWrap {
    padding: 30px 0px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.35px;
    color: #A3A5AD;
}

.botSocialLink a {
    cursor: pointer;
    display: inline-block;
    margin-left: 25px;
}

.subscribeWrap {
    background: #1F1F27;
    border-radius: 1111px;
}

.subscribeWrap .form-control-lg {
    background: transparent;
    border: none;
    line-height: 48px;
    padding-top: 30px;
    font-size: 14px;
}

.subscribeWrap .form-control-lg:focus {
    box-shadow: none;
}

.subscribeWrap .btn {
    background: linear-gradient(0deg, #C0312C, #C0312C), #CC0F16;
    border-radius: 90px;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 48px;
    padding-left: 25px;
    padding-right: 25px;
}

.subscribeWrap .btn:focus {
    box-shadow: none;
}

.categoryBg {
    background: #1D1D2A;
    border-radius: 3px;
    margin-top: 22px;
}

.Cat_header {
    padding: 22px 0px;
    margin: 0px 15px 10px 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14.8496px;
    line-height: 17px;
    color: #FFFFFF;
    border-bottom: 1px solid #424242;
}

.cat_list {
    border-top: 1px solid #424242;
    padding-top: 5px;
    margin: 0px 15px;
}

.cat_list ul {
    margin: 0px;
    padding: 1px 0px 10px 0px;
    list-style-type: none;
}

.cat_list ul li {
    margin: 10px 0px;
    color: #fff;
}

.cat_list ul li span {
    color: #fff;
}

.clearFilter {
    background: #F6F6F6;
    border-radius: 2px;
    padding: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12.7282px;
    line-height: 15px;
    text-align: right;
    color: #742626;
    cursor: pointer;
}

.collepseBtn {
    float: right;
    cursor: pointer;
}

.cat_check {
    margin: 0px 15px 15px 15px;
    border-top: 1px solid #424242;
    padding-top: 20px;
}

.cat_check .form-group {
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14.8496px;
    line-height: 22px;
    color: #EDEDED;
}

.cat_check .form-check-input {
    margin-left: 0px;
    left: 0px;
}

.cat_check .form-check-label {
    padding-left: 10px;
}

.cat_footer_btn {
    background: #F6F6F6;
    border-radius: 0px 0px 3.18205px 3.18205px;
    padding: 10px 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14.8496px;
    line-height: 17px;
    color: #666666;
    cursor: pointer;
}

.borfiler {
    border-bottom: 1px solid rgba(238, 238, 238, 0.14);
}

.chipsWrap {
    padding: 10px 0px;
    color: #bdbdbd;
}

.chipsBtn {
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 2px 5px 2px 10px;
    display: inline-block;
    margin-right: 2px;
    color: #666666;
}

.chipsBtn .closeIcon {
    background: url(../images/small-down.svg) no-repeat center 2px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.panel-heading {
    padding: 22px 0px;
    margin: 0px 15px 0px 15px;
}

.panel-heading h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14.8496px;
    line-height: 17px;
    color: #FFFFFF;
}

.panel-heading h4 a {
    color: #fff;
}

.panel-heading h4 a span {
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 2px 5px 2px 10px;
    display: inline-block;
    margin-right: 2px;
    color: #666666;
}

.panel-title {
    margin-bottom: 0px;
}

.panel-collapse {
    padding-top: 1px;
}

.panel-title>a:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\f068";
    padding-right: 5px;
}

.panel-title>a.collapsed:before {
    float: right !important;
    content: "\f067";
}

.panel-title>a:hover,
.panel-title>a:active,
.panel-title>a:focus {
    text-decoration: none;
}


/*=========================================*/

.imageWrap {
    background: #fff;
    border-radius: 5px;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.imageWrap .like {
    position: absolute;
    top: 5px;
    right: 10px;
}

.imageWrap img {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    max-width: 70%;
    max-height: 90%;
}

.acceptBtn {
    background: #C0312C;
    border-radius: 3px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
}

.proceWap {
    border-bottom: 1px solid rgba(238, 238, 238, 0.24);
    border-top: 1px solid rgba(238, 238, 238, 0.24);
    padding: 10px 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    color: #FFFFFF;
}

.prodDesc {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.prodName {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.starWrap {
    border-bottom: 1px solid rgba(238, 238, 238, 0.24);
    padding: 10px 0px;
    color: #fff;
}

.stars {
    color: #FEB53E;
}

.stars span {
    color: #fff;
}

.starWhite {
    color: #C7C7CC;
}

.descWrap {
    padding: 10px 0px;
    min-height: 150px;
}

.deliveryVan {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #DB3331;
    padding: 10px 0px;
}

.compare {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}

.compare span {
    background-color: #C03339;
    border-radius: 20px;
    padding: 2px 10px 2px 10px;
    display: inline-block;
    margin-right: 2px;
    margin-top: 4px;
    color: #fff;
}

.paginationWrap {
    padding: 20px;
    text-align: center;
}

.paginationWrap .page-item {
    margin: 2px;
    width: 39px;
}

.paginationWrap .page-link {
    border-radius: 50%;
}

.paginationWrap .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.paginationWrap .page-item:last-child .page-link {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.colorOption {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12.7282px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 5px;
}

.shortWrap .form-control {
    background-color: transparent;
    border: 1px solid rgba(238, 238, 238, 0.24);
}

.filterCount {
    color: #BDBDBD;
}

.breadCrumbwrap .breadcrumb {
    background: transparent;
}

.breadCrumbwrap .breadcrumb .breadcrumb-item a {
    color: #C6C6C6;
}

.colorOption p {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16.1414px;
    line-height: 24px;
    color: #C0312C;
    margin-bottom: 10px;
}

.colorOption .colors {
    border: 1.34512px solid #3C3C3C;
    padding: 3px;
    border-radius: 100%;
    display: inline-block;
}

.colorOption .colors .white {
    background-color: #fff;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

hr {
    border-top: 1px solid #C6C6C6;
}

.txtDesc {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16.5955px;
    line-height: 25px;
    color: #D6D6D6;
}

.detPrice {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42.6742px;
    line-height: 1;
    color: #FFFFFF;
}

.cartButton {
    border: 1px solid #C0312C;
    color: #fff;
}

.btnCart {
    background: #C0312C;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.prodDetailName {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.limtEd {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 21.3371px;
    line-height: 31px;
    color: #CCCCCC;
}

.specificationWrap {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16.5955px;
    line-height: 25px;
    color: #E7E7E7;
    margin: 80px 40px 40px 40px;
}

.specificationWrap .nav-pills .nav-link.active,
.specificationWrap .nav-pills .show>.nav-link {
    background: transparent;
    border-bottom: 2px solid #fff;
    border-radius: 0px;
}

.specificationWrap .nav-link {
    color: #757575;
    font-size: 21px;
}

.specificationWrap .nav-item {
    margin-left: 40px;
    margin-right: 40px;
}

.specificationWrap .table-striped td {
    border: 0px;
    color: #D9D9D9;
    font-size: 13px;
}

.specificationWrap .table-striped tbody tr:nth-of-type(even) {
    background: rgba(198, 198, 198, 0.2);
}

.tab-pane {
    /* background: url(../images/circles.png) no-repeat top left; */
    padding: 40px;
}

.hrDark {
    border-top: 1px solid rgba(198, 198, 198, 0.2);
}

.mobCenterSocial {
    text-align: right;
}

.tableCompare td {
    color: #CACACA;
}

.tableCompare th {
    background: #1D1D2A;
    color: #F6F6F6;
    font-size: 14px;
}

.tableCompare .table-bordered td,
.tableCompare .table-bordered th {
    border: 1px solid rgba(57, 57, 57, 0.67);
}

.imageCompareWrap {
    background: #fff;
    border-radius: 5px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.compPrice {
    font-size: 18px;
}

.compDesc {
    font-size: 13px;
    min-width: 290px;
}

.compfont12 {
    font-size: 12px;
}

.compProdImgTxt {
    font-size: 14px;
}

.strockColor {
    color: #C0312C!important;
}

.CompAddCart {
    border: 2px solid rgba(238, 238, 238, 0.24);
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    min-width: 120px;
}

.CompbtnCart {
    background: #C0312C;
    border-radius: 3px;
    padding: 5px 15px;
    font-size: 13px;
    line-height: 1;
    color: #fff;
    text-align: center;
    cursor: pointer;
    min-width: 90px;
}

.bgWhite {
    background: #FFFFFF;
    box-shadow: 35.4343px 59.4872px 141.737px rgba(27, 49, 66, 0.1);
    border-radius: 7.4359px;
    padding: 30px;
}

.viewProd {
    background: url(../images/lineCompBlack.svg) no-repeat bottom left;
    padding: 10px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11.8974px;
    line-height: 131.69%;
    color: #CC0F16;
    cursor: pointer;
}

.viewProd img {
    width: 13px!important;
    display: inline!important;
}

.viewProd:hover {
    color: #000;
}

.compRec {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22.3077px;
    line-height: 131.69%;
    color: #000000;
    padding: 22px 0px;
}

.compRecTxt {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10.4103px;
    line-height: 143.69%;
    color: #999999;
}

.recProdImg {
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 3.71795px;
    margin: 20px 0px 30px 0px;
    text-align: center;
}

.recProdImg img {
    max-width: 100%;
}

.lineImageComp img {
    width: 40px!important;
}

.pb-150 {
    padding-bottom: 150px;
}


/*=============== category style ===============*/

.categorySection {
    background: #212128;
    padding-bottom: 70px;
}

.colRepeat {
    display: inline-block;
    margin: 15px 5px;
}

.cardCategory {
    background: #070513;
    border-radius: 15px;
    padding: 19px 10px;
    box-shadow: 30.0933px 50.5207px 120.373px rgba(27, 49, 66, 0.15);
    display: inline-block;
    text-align: center;
    min-height: 262px;
}

.circleCIonOut {
    border: 1px solid rgba(192, 49, 44, 0.2);
    border-radius: 100%;
    padding: 10px;
    display: inline-block;
}

.circlein {
    border: 1px solid rgba(192, 49, 44, 0.4);
    border-radius: 100%;
    padding: 10px;
    display: inline-block;
}

.circlein img {
    height: 134px;
    width: 134px;
    border-radius: 100%;
}

.categoryTile {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    color: #A7ABB1;
    padding-top: 19px;
}

.cardCategory:hover {
    background: #C0312C;
}

.cardCategory:hover .circleCIonOut {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.cardCategory:hover .circlein {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.prodthumbWrap {
    height: 130px;
}

.prodImg {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.color-section {
    background-color: rgba(198, 198, 198, 0.2);
}

.detailFont {
    color: #D9D9D9;
    font-size: 13px;
}

.testimonialPic img {
    height: 87px;
    width: 87px;
    border-radius: 100%;
}

.table-responsive {
    overflow-x: unset;
}

.overLay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.24);
}

.letter-holder {
    padding: 16px;
}

.letter {
    float: left;
    font-size: 150px;
    color: rgb(247, 234, 234);
}

.load-6 .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.l-1 {
    animation-delay: 0.48s;
}

.l-2 {
    animation-delay: 0.6s;
}

.l-3 {
    animation-delay: 0.72s;
}

.l-4 {
    animation-delay: 0.84s;
}

.l-5 {
    animation-delay: 0.96s;
}

.l-6 {
    animation-delay: 1.08s;
}

.l-7 {
    animation-delay: 1.2s;
}

.l-8 {
    animation-delay: 1.32s;
}

.l-9 {
    animation-delay: 1.44s;
}

.l-10 {
    animation-delay: 1.56s;
}

.load-wrapp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lastProductMargin {
    margin-bottom: 10px;
}

@keyframes loadingF {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.downloadPdf {
    display: inline-block;
    color: #fff;
}

.downloadPdf .text {
    padding: 20px 0px;
}

.downloadPdf:hover {
    text-decoration: none;
    color: inherit;
}